.container-register {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../img/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.register-box {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.logo {
  font-weight: 700;
  color: #1e40af;
  margin-bottom: 0.5rem;
  text-align: center;
}

.tagline {
  margin-bottom: 1.5rem;
  color: #555;
  text-align: center;
}

.password-group {
  position: relative;
}

.password-group .form-control {
  padding-right: 40px;
  /* kasih ruang buat icon tambahan kalau mau */
}

.btn-register {
  width: 100%;
  padding: 0.75rem;
  background: #2563eb;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: all ease-in 0.1s;
}
.btn-register:hover{
    background: #16409a;
}

.btn-register:disabled {
  background: #93c5fd;
}

.register-text {
  text-align: center;
  margin-top: 1rem;
  color: #333;
}

.register-link {
  color: #2563eb;
  font-weight: 500;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}

.form-control-register {
  width: 80%;
  border: none;
  border-bottom: 2px solid #2563eb;
}

.form-control-register:focus {
  outline: none;
  border-bottom: 2px solid #13347c;
}

.input-group-username-register,
.input-group-email-register,
.input-group-password-register,
.input-group-confirm-register {
  margin-right: 3%;
  font-size: 21px;
}

.message-register {
  background-color: #fdecea;
  border: 1px solid #f5c2c7;
  color: #b71c1c;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  font-size: 14px;
  margin-top: 1rem;
}
.link-register {
    text-decoration: none;
}