.landing-page-home {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  text-align: center;
}


.hero-section-home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../../img/bg.png') no-repeat center center/cover;
  overflow: hidden;
}

.content-home {
  position: relative;
  z-index: 2;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 10%;
}

.main-heading-home {
  font-size: 3.5em;
  font-weight: bold;
  margin-bottom: 30px;
  color: #fff;
}

.main-heading-home .highlight {
  color: #3f68d3;
  border-bottom: 3px solid #ffffff;
}

.sub-heading-home {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 20px;
  color: #fff;
}

.sub-heading-secondary-home {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 20px;
  color: #fff;
}

.description-home {
  font-size: 1.1em;
  margin-bottom: 30px;
  line-height: 1.5;
  color: #ccc;
}


.cta-button-home {
  background-color: #1d4ed8;
  color: #fff;
  border: none;
  padding: 15px 60px;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button-home:hover {
  background-color: #3151a3;
}

.container-card-home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 20px;
}

.card-home {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
  text-align: center;
  max-width: 20%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-home:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #1d4ed8;
}

.card-home:hover .nama-promo-home,
.card-home:hover .isi-promo-home,
.card-home:hover .icon-promo-home {
  color: white;
}
.icon-promo-home {
  font-size: 3em;
  color: #3f68d3;
  margin-bottom: 10px;
}

.nama-promo-home {
  font-size: 1.5em;
  font-weight: bold;
  color: #3f68d3;
  margin-bottom: 5px;
}

.isi-promo-home {
  font-size: 1em;
  color: #000;
  line-height: 1.5;
}